---
import type { ArticleType } from "../utils/types";

interface Props {
  article: ArticleType;
}

const { article } = Astro.props;
---

<article class="mx-auto mt-10 max-w-md">
  <div class="overflow-hidden rounded-lg bg-white shadow-lg">
    <a href={`/articles/${article.slug}`}>
      <img
        src={`/images/${article.image}`}
        alt="Article Image"
        class="h-48 w-full object-cover transition duration-300 ease-in-out hover:opacity-75"
      />
    </a>
    <div class="p-6">
      <h2 class="mb-2 text-2xl font-semibold">
        <a href={`/articles/${article.slug}`}> {article.title} </a>
      </h2>
      <p class="mb-4 text-sm text-gray-600">{article.pubDate}</p>
      <div class="flex flex-wrap gap-2">
        {
          article.tags.map((tag: string, i) => (
            <span
              class={`px-2 py-1 ${i % 2 === 0 ? "bg-blue-500" : "bg-purple-500"} text-white rounded-full text-xs hover:opacity-90`}
            >
              <a href={`/articles?tag=${tag}`}>{tag}</a>
            </span>
          ))
        }
      </div>
    </div>
  </div>
</article>
